{% extends "_base.html" %}

{% block content %}
<div class="container">
    <form
        role="form"
        class="form centered"
        method="post"
        action="{% url "login" %}">
        {% csrf_token %}
        <h1>Log In</h1>
        {% for field in form %}
            <label for="{{ field.id_for_label }}" class="label">{{ field.label_tag }}</label>
            <input
                class="input text"
                id="{{ field.id_for_label }}"
                name="{{ field.html_name }}"
                type="{{ field.field.widget.input_type }}"
            /> 
            {{ field.errors }}
        {% endfor %}
        <input type="submit" class="button primary bg-light" value="Log In" />
        <input type="hidden" name="next" value="{{ next }}" />
        <div style="margin-top: 20px">
            <a href="{% url "password_reset" %}" class="button-subtle">😢 I forgot my password</a>
        </div>
    </form>
</div>
{% endblock %}
