{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>Set a new password</h1>
    <p class="lead text-muted">Don't forget this one!</p>
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Change Password" class="button button-block button-primary button-raised">
    </form>
</div>
{% endblock %}
