{% extends "_base.html" %}

{% block content %}
<div class="container">
    <center>
        <h1>Hurray!</h1>
        <p class="lead">Your password was successfully updated.</p>
        <a href="{% url "login" %}" class="button button-raised button-large">Log In</a>
    </center>
{% endblock %}
