@import "~normalize.css"

@import "_fonts.css"

$body-font: "Open Sans", sans-serif
$header-font: "Work Sans", sans-serif
$monospace-font: "Ubuntu Mono", monospace

$primary: #FFF700
$primary-dark: #E8BD50
$light-grey: #B3A9A9
$grey: #7D7B7B
$dark-grey: #484848
$blue: #6274EA

html, body
  height: 100%
  display: flex
  flex-direction: column
kbd
  background-color: darken($dark-grey, 20%)
  color: white
  display: block
  padding: 20px

.panel
  padding: 20px
.panel-extra
  padding: 20px
@media all and (min-width: 600px)
  .panel-extra
    padding: 80px
.dark
  background-color: $dark-grey

.button
  padding-top: 10px
  padding-bottom: 10px
  padding-left: 20px
  padding-right: 20px
  border-radius: 8px
  font-family: $header-font
  cursor: pointer
  border: none
  text-align: center
  text-decoration: none
  &:focus
    outline: none
.button.bg-dark
  box-shadow: 0px 1px 5px lighten(#000000, 10%)
.button.primary.bg-dark
  background-color: $primary
  color: #000000
  &:focus, &:hover
    background-color: darken($primary, 3%)
  &:active
    background-color: $primary-dark
.button.primary.bg-light
  background-color: $primary
  color: #000000
  box-shadow: inset 0px 0px 0px 2px $primary-dark
  &:focus, &:hover
    background-color: darken($primary, 3%)
  &:active
    background-color: $primary-dark
.button.secondary.bg-dark
  background-color: #ffffff
  color: #000000
  &:focus, &:hover
    background-color: darken(#ffffff, 10%)
  &:active
    background-color: darken(#ffffff, 20%)
.button.secondary.bg-light
  background-color: $dark-grey
  color: #ffffff
  &:hover, &:focus
    background-color: darken($dark-grey, 10%)
  &:active
    background-color: #000000
a:not(.button):not(.button-subtle):not(.nostyle):not(.default-style)
  text-decoration: underline dotted
  color: darken($primary, 20%)
  &:hover, &:focus
    outline: none
    text-decoration: none
  &:active
    color: darken($primary, 30%)
a.nostyle
  text-decoration: none
  color: inherit
  &:hover, &:focus
    text-decoration: none
    outline: none
.button-subtle
  text-decoration: none
  color: darken($primary, 20%)
  &:hover, &:focus
    outline: none
    color: darken($primary, 25%)
  &:active
    color: darken($primary, 30%)
.button-subtle.bg-dark
  color: $primary
  &:hover, &:focus
    color: darken($primary, 10%)
  &:active
    color: darken($primary, 20%)

.input.text
  padding-top: 10px
  padding-bottom: 10px
  padding-left: 10px
  padding-right: 10px
  font-family: $body-font, sans-serif
  border: none
  box-shadow: inset 0px 0px 0px 2px $light-grey
  border-radius: 8px
  transition: box-shadow 0.1s
  margin-top: 10px
  margin-bottom: 10px
  min-width: 35%
  max-width: 95%
  &:hover
    box-shadow: inset 0px 0px 0px 2px $grey
  &:focus
    box-shadow: inset 0px 0px 0px 2px $primary-dark
    outline: none
.label
  color: lighten(#000000, 25%)
  min-width: 35%
  max-width: 95%
  font-size: 0.8rem

.img
  max-width: 100%
  height: auto

.form
  display: flex
  flex-direction: column
  align-items: flex-start
.form.centered
  align-items: center

h1, h2
  font-family: $header-font
h2
  color: $dark-grey
body
  font-family: $body-font

.errorlist
  margin: 0px
  margin-bottom: 20px
  padding: 0px
  list-style: none
  min-width: 35%
  max-width: 95%
  color: #e64d00
.errorlist li:before
  content: "⚠️"

.navbar
  height: 50px
  padding: 10px
  display: flex
  justify-content: space-between
.navbar > *
  max-width: 33%
.navbar.navbar-dark
  background-color: $dark-grey
  color: #ffffff
.navbar-brand
  height: 100%
  width: auto

.content
  flex: 1

.turbolinks-progress-bar
  height: 3px
  background-color: $primary-dark

.halves
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-evenly
  align-items: stretch
.halves > .dominant-half, .halves > .recessive-half
  width: 50%
@media all and (max-width: 600px)
  .halves > .dominant-half
    width: 100%
    box-sizing: border-box
  .halves > .recessive-half
    display: none

.illustration
  max-height: 200px

.dot
  height: 10px
  width: 10px
  border-radius: 50%
  display: inline-block
.dot.green
  background-color: lighten(green, 20%)
.dot.red
  background-color: lighten(red, 20%)

@media all and (max-width: 600px)
  .navbar
    height: auto
    flex-direction: column
    align-items: stretch
    text-align: center
  .navbar > *
    max-width: 100%
  .navbar-brand
    max-width: 100%
    max-height: 40px
  .halves
    flex-direction: column

[v-cloak] :not(.loading)
  display: none
.loading
  display: none
[v-cloak] .loading
  display: block !important
