
// .__promotion_main_text
  // padding: 40px
  // padding-top: 60px
  // padding-left: 80px
  // padding-right: 80px

// // .__promotion_logo
//   height: 120px

// .__promotion_landing
//   height: 70%
//   width: 100%
//   background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(179, 179, 179, 0.5)), url('/static/img/bg.jpg')
//   background-size: cover
//   text-align: center
//   padding-top: 80px

// @include media-breakpoint-down(sm)
//   .__promotion_logo
//     height: 60px
//   .__promotion_landing
//     height: 40%
//     padding-top: 30px
//     min-height: 250px
//   .__promotion_main_text
//     padding-left: 0px
//     padding-right: 0px
//     margin-left: 3px
//     margin-right: 3px

.Promotion-hero
  display: flex

.Promotion-hero-logo
  width: 51%
  padding: 20px

.Promotion-hero-buttons
  width: 48%
  padding: 20px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around

.Promotion-hero-button
  width: 50%
  margin: 20px

@media all and (max-width: 600px)
  .Promotion-hero
    flex-direction: column
  .Promotion-hero-logo
    width: 100%
  .Promotion-hero-buttons
    width: 100%
  .Promotion-hero-button
    width: 80%
    margin: 10px