<!DOCTYPE html>
<html style="position:relative;min-height:100%">
    <head>
        {% block prehead %}{% endblock %}
        <title>
            WebSuggest | Advertising with a Conscience
        </title>
        <script src="{% static "index.js" %}" type="application/javascript"></script>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="canonical"
            href="https://www.websuggest.net"
        />
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="{% static "favicon/favicon.ico" %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180" href="{% static "favicon/apple-touch-icon.png" %}"
        >
        <link
            rel="icon"
            type="image/png"
            sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}"
        >
        <link
            rel="icon"
            type="image/png"
            sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
        <link
            rel="manifest"
            href="{% static "favicon/site.webmanifest" %}"
        >
        <link
            rel="mask-icon"
            href="{% static "favicon/safari-pinned-tab.svg" %}"
            color="#5bbad5"
        >
        <meta
            name="msapplication-TileColor"
            content="#2b5797"
        >
        <meta
            name="theme-color"
            content="#ffffff"
        >
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block navbar %}
            {% if user.is_authenticated %}
                <div class="navbar navbar-dark" id="navbar-logged-in" data-turbolinks-permanent>
                    <!--<a href="{% url "home" %}">
                        <img src="{% static "img/SuggestionsLogo.png" %}" class="navbar-brand" />
                    </a>
                    <div>
                        
                    </div>-->
                    <div>
                        <a href="{% url "home" %}">
                            <img src="{% static "img/logo-full-inverted.png" %}" class="navbar-brand"></img>
                        </a>
                    </div>
                    <div style="display: flex; flex-direction: column; align-content: center; justify-content: center">
                        <span>
                            Hello, {{ user.username }}!&nbsp;&nbsp;&nbsp;<a class="button-subtle bg-dark" href="{% url "logout" %}">Log Out</a>
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="navbar">
                    <a href="{% url "promotion" %}">
                        <img src="{% static "img/SuggestionsLogo.png" %}" class="navbar-brand" />
                    </a>
                </div>
            {% endif %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </body>
    {% block footer %}
        <!--<footer class="footer">
            <div class="container" style="text-align:center">
                <i>Copyright © 2018 Jeremy Potter. All Rights Reserved.</i> <a 
                    href="https://plus.google.com/communities/103898361739086955611"
                    class="google-plus"
                >
                    <i class="fab fa-google-plus-square google-plus-icon"></i>
                    <span class="google-plus-text">Follow WebSuggest on Google+</span>
                </a>
            </div>
        </footer>-->
    {% endblock %}
</html>
