{% extends "_base.html" %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container">
    <center>
        <h1 class="display-3" style="margin-top:20px">Access Denied</h1>
        <p class="lead">Sorry. We had to block you from clicking on this ad because you seemed suspicious.</p>
        <hr style="margin:40px"/>
        <a href="/">
            <img src="/static/img/SuggestionsLogo.png" style="height:100px"/>
        </a>
    </center>
</div>
{% endblock %}
