<!DOCTYPE html>
<html>
    <head>
        <script
            type="application/javascript"
            src="{% static "frame.js" %}"
        ></script>
    </head>
    <body class="Frame-body">
        <div class="Frame-title">{{ object.title }}</div>
        <p>{{ object.body }}</p>
        {% if website_id %}
            <a
                href="{% url "click" %}?w_id={{ website_id }}&ad_id={{ object.id }}"
                target="_blank"
                class="Frame-button">
                Learn More
            </a>
        {% else %}
            <a
                href="{% url "home" %}"
                class="Frame-button"
                target="_blank">
                Learn more
            </a>
        {% endif %}
        <a href="{% url "promotion" %}" target="_blank" class="Frame-bottom-text">
            Advertising by WebSuggest
        </a>
    </body>
</html>
