{% extends "_base.html" %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="dark panel Promotion-hero">
    <div class="Promotion-hero-logo">
        <img src="{% static "img/logo-full-inverted-slogan.png" %}" class="img"></img>
    </div>
    <div class="Promotion-hero-buttons">
        <a class="primary button bg-dark Promotion-hero-button" href="{% url "signup" %}">Sign Up</a>
        <a class="secondary button bg-dark Promotion-hero-button" href="{% url "login" %}">Log In</a>
    </div>
</div>
<!--
<div class="__promotion_landing">
    <img src="/static/img/SuggestionsLogo.png" class="__promotion_logo">
        <a href="/beta-warning" class="badge badge-warning">BETA</a>
    </img>
    <div style="margin-top:40px">
        <a href="{% url 'signup' %}" class="button button-3d button-primary button-rounded">Create an Account</a>
        <a href="{% url 'login' %}" class="button button-secondary button-rounded button-3d">Log In</a>
    </div>
</div>
<div class="container">
        <div class="row __promotion_main_text">
            <h4 style="font-weight:bold">WebSuggest is a different kind of advertising network.</h4>
            <p class="lead">WebSuggest is more than a network. It is a mission to save the internet from <a href="https://en.wikipedia.org/wiki/Malvertising"  target="_blank" rel="noopener">malvertising</a>, <a href="https://en.wikipedia.org/wiki/Clickbait" target="_blank" rel="noopener">clickbait</a> and <a href="https://en.wikipedia.org/wiki/Fake_news_website" target="_blank" rel="noopener">fake news</a>, and to bring about a new era of <a href="https://2017.ind.ie/ethical-design/" target="_blank" rel="noopener">ethical design</a> and <a href="https://www.searchenginejournal.com/adsense-lawsuit/248135/" target="_blank" rel="noopener">fair access</a> for all.</p>
        </div>
        <div class="row" style="margin-top:30px">
            <div class="col-12 col-md-1">
                <i class="fas fa-shield-alt fa-3x"></i>
            </div>
            <div class="col-12 col-md-11">
                <b class="lead">Ethical</b>
                <p>About 30% of Internet users use an ad blocker, and the number is constantly increasing. WebSuggest is currently <b>not blocked by any ad blockers</b>, and  will likely remain so, because WebSuggest treats users with <i class="fas fa-heart"></i>.</p>
                <p>
                    <i class="fas fa-check-circle"></i> All units meet <a href="https://www.betterads.org/standards/" target="_blank" rel="noopener">Coalition for Better Ads</a> standards
                </p>
                <p>
                    <i class="fas fa-check-circle"></i> Does not use cookies to spy on users
                </p>
                <p>
                    <i class="fas fa-check-circle"></i> All advertisements undergo strict human review to filter out low-quality content and malware
                </p>
                <p>
                    <i class="fas fa-check-circle"></i> No complex JavaScript programs, tracking pixels or third-party bidding systems are required; all WebSuggest advertisements are just HTML iframes.
                </p>
            </div>
        </div>
        <div class="row" style="margin-top:30px">
            <div class="col-12 col-md-4" style="padding:30px">
                <h3><i class="fas fa-mouse-pointer"></i> Advanced Click Fraud Protection</h3>
                <p>
                    Your advertising budget is safe with WebSuggest. WebSuggest is one of the most aggressive in the market when it comes to destroying spam and clickfraud.
                </p>
                <p>
                    <i class="fas fa-check-circle"></i> HTTP Referer checking
                </p>
                <p>
                    <i class="fas fa-check-circle"></i> Automatic profiling of suspicious activity
                </p>
            </div>
            <div class="col-12 col-md-4" style="padding:30px">
                <h3><i class="far fa-smile"></i> Easy to Use</h3>
                <p>
                    Unlike other ad networks, publishers can just sign up, put the iframe on their site, and begin making money. Advertisers will be allowed to advertise after a very speedy human review.
                </p>
                <p>
                    <i class="fas fa-check-circle"></i> No restrictions on who can sign up
                </p>
            </div>
            <div class="col-12 col-md-4" style="padding:30px">
                <h3><i class="fas fa-paint-brush"></i> Beautiful</h3>
                <p>
                    The WebSuggest ad format was designed with artistry and attention to detail. It looks like a pleasant, natural part of the page that draws in users rather than repulsing them.
                </p>
                <p>
                    <i class="fas fa-check-circle"></i> Beautiful, modern material design look
                </p>
                <p>
                    <i class="fas fa-check-circle"></i> Completely mobile friendly
                </p>
            </div>
        </div>
    </div>
    <style>@media screen and (max-width: 750px){iframe{max-width:100% !important;width:auto !important;}}</style>
    <center style="margin-top:60px;margin-left:0px">
        <iframe src="{% url "frame" 1 %}" width="319" height="248" style="border:none;margin-bottom:60px;box-shadow:0px 0.5px 1px black;border-radius:4px"></iframe>
        <div class="container">
            <div class="row">
                <div class="col"><a href="{% url 'signup' %}" class="button button-raised button-primary button-block">Create an Account</a></div>
                <div class="col"><a href="{% url 'login' %}" class="button button-raised button-secondary button-block">Log In</a></div>
            </div>
        </div>
    </center>
</div>
-->
{% endblock %}
