{% extends "_base.html" %}

{% block content %}
<div class="container">
    <h1>Publisher Documentation</h1>
    <hr/>
    <h3>Installing the advertisement on your website</h3>
    <p>
        The advertisement code consists of a single <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe" target="_blank"><code>iframe</code></a> placed in any location on your website. The <code>src</code> attribute should be <code>//beta.websuggest.net/app/frame/&lt;Website ID&gt;</code>, where  <code>&lt;Website ID&gt;</code> is the ID of your website.
        Tips for advertisement placement:
        <ul>
            <li>Place it somewhere noticeable and frequently viewed by your visitors.</li>
            <li>Don't place too many advertisements in a small amount of space.</li>
            <li>Try to blend the advertisement in with the rest of the page.</li>
        </ul>
        <b>It is highly recommended to add the <code>frameBorder="0"</code> attribute or the <code>border: none;</code> style to the iframe in order to remove the border which comes by default in iframes.</b>
        <br/><br/>
        <div class="alert alert-light">
            <h5>Example:</h5>
            <kbd>
                &lt;iframe src="//beta.websuggest.net/app/frame/9999" frameBorder="0"&gt;
            </kbd>
        </div>
    </p>
    <h3>Styling</h3>
    <p>
        The iframe can be styled in any way you wish.
        <ul>
            <li><b>Sizing</b>
            The <code>width</code> and <code>height</code> attributes can be adjusted to make the advertisement fit different areas of the site. However, it is recommended that advertisements do not have an area smaller <code>79000px</code>.</li>
            <li><b>Shadow</b>
            If you want a shadow around your advertisement to separate it from the rest of your page, you can add the following style rules: <code>box-shadow:0px 0.5px 1px black;border-radius:4px</code>
        </ul>
    </p>
</div>
{% endblock %}
