{% extends "_base.html" %}
{% block content %}
<div class="container">
    <form
        role="form"
        class="form centered"
        method="post"
        action="{% url "signup" %}">
        {% csrf_token %}
        <h1>Create an Account</h1>
        {% for field in form %}
            <label for="{{ field.id_for_label }}" class="label">{{ field.label_tag }}</label>
            <input
                class="input text"
                id="{{ field.id_for_label }}"
                name="{{ field.html_name }}"
                type="{{ field.field.widget.input_type }}"
            />
            {{ field.errors }}
        {% endfor %}
        <input type="submit" class="button primary bg-light" value="Continue" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}
