{% extends "_base.html" %}

{% block head %}
<meta name="turbolinks-visit-control" content="reload">
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static "stripe.js" %}"></script>
{% endblock %}

{% block content %}
<div class="halves" style="height: 100%">
    <div class="Onboard-picadilly-circus recessive-half">
    </div>
    <div class="panel-extra dominant-half">
        <h1>Sign up to be an advertiser</h1>
        <p class="lead">Please enter your credit or debit card details.</p>
        <p>Your details are stored in a secure database managed by the <a href="https://stripe.com" target="_blank" rel="noopener">Stripe</a> payment service. You may read their privacy policy <a href="https://stripe.com/us/privacy" target="_blank" rel="noopener">here</a>.</p>

        <form action="/stripe-setup-advertiser/" method="post" id="payment-form">
            {% csrf_token %}
            <div class="form-row">
                <div id="card-element" style="height: 100%">
                <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert" style="color: red; padding-bottom: 20px"></div>
            </div>
            <button class="button primary bg-light">Submit card number</button>
        </form>
        <script>stripe_setup("{{ stripe_public_key }}")</script>
    </div>
</div>
{% endblock %}