{% extends "_base.html" %}
{% load mathfilters %}

{% block head %}
<script type="application/javascript" src="{% static "table.js" %}"></script>
{% endblock head %}

{% block content %}
<!--<div class="container">
    <a href="/" class="btn linkbtn" style="margin-top:0px"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;Back Home</a>
    {% if total_clicks == 0 %}
        <div class="alert alert-primary" role="alert">
            <h3>All ready!</h3>
            <p>Just insert the following code on your page in the location you want the advertisement to be placed:</p>
            <kbd>
                &lt;iframe src=&quot;//beta.websuggest.net/app/frame/{{ website.id }}&quot; width=&quot;319&quot; height=&quot;248&quot; style=&quot;border:none;box-shadow:0px 0.5px 1px black;border-radius:4px&quot;&gt;&lt;/iframe&gt;
            </kbd>
            <br/><br/>
            <div>
                <a href="/publisher-docs" class="btn btn-outline-secondary">More Information&nbsp;<i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    {% endif %}
    <table class="table">
        <tr>
            <th>ID</th>
            <td>{{ website.id }}</td>
        <tr>
            <th>URL</th>
            <td>{{ website.url }}</td>
        </tr>
    </table>
    <div style="padding:40px">
        <div class="row">
            <div class="col-4"><small>Total Impressions</small></div>
            <div class="col-4"><small>Total Clicks</small></div>
            <div class="col-4"><small>Click Rate</small></div>
        </div>
        <div class="row">
            <div class="col-4"><h1 class="display-4">{{ website.views }}</h1></div>
            <div class="col-4"><h1 class="display-4">{{ total_clicks }}</h1></div>
            <div class="col-4"><h1 class="display-4">{{ conversion_rate }}%</h1></div>
        </div>
    </div>
    <div id="click_table_container">
        <h3>Clicks</h3>
        <table class="table" id="click_table">
            <thead class="bg-primary">
                <tr>
                    <th>Time</th>
                    <th>IP Address</th>
                    <th>Advertisement</th>
                    <th>Price<i class="fas fa-question-circle" style="font-size:20px;color:#d9d9d9;cursor:default" id="tooltip"></i></th>
                </tr>
            </thead>
            {% for click in website.adclick_set.all %}
                <tr>
                    <td><b>{{ click.datetime|date }} {{ click.datetime|time }}</b><br/>{{ click.datetime|timesince }} ago</td>
                    <td><span class="geoip">{{ click.ip }}</span></td>
                    <td>
                        <p><b>{{ click.advertisement.title }} ({{ click.advertisement.target_url }})</b></p>
                        <p>{{ click.advertisement.body|truncatechars:60 }}<p>
                    </td>
                    <td>${{ click.price|mul:0.7 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>-->
<div class="Dashboard content">
    <span class="Dashboard-left-panel">
        <div class="Dashboard-top">
            <div class="Dashboard-label">Websites</div>
            <div class="Dashboard-sidebar-items">
            {% if user.profile.website_set.all %}
                {% for website in user.profile.website_set.all %}
                    <a
                        class="Dashboard-sidebar-item nostyle {% if website == current_website %}Dashboard-sidebar-item-active{% endif %}"
                        href="{% url "website" website.id %}"
                        >
                        {{ website.url }}
                    </a>
                {% endfor %}
            {% else %}
                <div class="Dashboard-none">No websites</div>
            {% endif %}
            </div>
            {% if user.profile.stripe_user_id == "0" %}
                <a class="button-subtle Dashboard-add" href="{% url "stripe_connect" %}">Sign up to be a publisher</a>
            {% else %}
                <a class="button-subtle Dashboard-add" href="{% url "create_website" %}">Add new</a>
            {% endif %}
            <div class="Dashboard-label">Advertisements</div>
            <div class="Dashboard-sidebar-items">
            {% if user.profile.advertisement_set.all %}
                {% for advertisement in user.profile.advertisement_set.all %}
                    <a class="Dashboard-sidebar-item nostyle" href="{% url "advertisement" advertisement.id %}">{{ advertisement.title }}</a>
                {% endfor %}
            {% else %}
                <div class="Dashboard-none">No advertisements</div>
            {% endif %}
            </div>
            {% if user.profile.stripe_customer == "0" %}
                <a class="button-subtle Dashboard-add" href="{% url "stripe_elements" %}">Sign up to be an advertiser</a>
            {% else %}
                <a class="button-subtle Dashboard-add" href="{% url "create_advertisement" %}">Add new</a>
            {% endif %}
        </div>
        <div class="Dashboard-bottom">
            <span class="Dashboard-balance-label">Total Balance</span>
            <div style="float: right">
                {% if total_balance >= 0 %}
                    ${{ total_balance }}
                {% else %}
                    -${{ total_balance|abs }}
                {% endif %}
            </div>
        </div>
    </span>
    <div class="Dashboard-right-panel">
        {% if current_website.views == 0 %}
            <div class="Dashboard-alert">
                <h3>All ready!</h3>
                <p>Just insert the following code on your page in the location you want the advertisement to be placed:</p>
                <div style="display:flex">
                    <code id="copy" class="Dashboard-code">
                        &lt;iframe src=&quot;{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}/frame/{{ current_website.id }}&quot; width=&quot;320&quot; height=&quot;240&quot; style=&quot;border:none;box-shadow:0px 0.5px 1px black;border-radius:4px&quot;&gt;&lt;/iframe&gt;
                    </code>
                    <button id="clipboard-trigger" data-clipboard-target="#copy" style="font-size: 1.5em;cursor:pointer">📋</button>
                </div>
            </div>
        {% endif %}
        <div id="vue-app" v-cloak>
            <img src="{% static "img/spinner.gif" %}" class="loading" style="height: 100px; margin-left: auto; margin-right: auto; margin-top: 20px">
            <div style="display: flex; width: 100%; justify-content: space-around; margin-top: 20px; text-align: center">
                <div>
                    Total Views<br/>
                    <b><% api.total_views %></b>
                </div>
                <div>
                    Total Clicks<br/>
                    <b><% api.total_clicks %></b>
                </div>
                <div>
                    Click Rate<br/>
                    <b><% click_rate %></b>
                </div>
            </div>
            <l-map style="width: 100%; height: 400px; margin-top: 20px" :min-zoom="1.3" :center="[45.522561, 10.110652]" :max-bounds="bounds" :bounds="bounds">
                <l-tile-layer url="https://{s}.tile.osm.org/{z}/{x}/{y}.png" :no-wrap="true"></l-tile-layer>
                <l-marker v-for="click in clicks_geolocated" :key="click.id" :lat-lng="[click.location.location.latitude, click.location.location.longitude]">
                    <l-popup>
                        <b>Location:&nbsp;</b><% click.location.city.names.en %>, <% click.location.country.names.en %>
                        <br/>
                        <b>Price:&nbsp;</b>$<% get_price(click) %>
                        <br/>
                        <b>Referring website:&nbsp;</b><a :href="click.website.url" target="_blank" rel="noopener"><% click.website.url %></a>
                    </l-popup>
                </l-marker>
            </l-map>
            <line-chart :data="api.time_series" :download="true" :curve="false"></line-chart>
    </div>
</div>
<div class="Dashboard-screen-size">
    <img src="{% static "img/android-phone.png" %}" class="illustration"></img>
    <p>Your screen is too small for WebSuggest Dashboard. Try accessing WebSuggest from a laptop or desktop computer.</p>
</div>
{% endblock %}
